<div class="mat-elevation-z8">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Adjuntar {{tituloVentana}}</a>
        <br><br>

        <div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            </button>
        </div>


        <form id="formuAdjunt" enctype="multipart/form-data">
            <input id="mydocform" type="file" name="file" (change)="uploadFile($event)" accept="application/pdf">
        </form>
    </nav>

    <button class="close" mat-button mat-dialog-title (click)="closeDialog()">X</button>

    <button type="button" class="btn btn-danger" (click)="cerrarVentana()"> Cancelar </button>

    <button type="button" class="btn btn-info" (click)="enviarAdjunto()"> Enviar </button>
</div>