<div class="container">
        <h5>Datos del paciente</h5>
        <form [formGroup]="pacienteForm">
            <div class="form-row align-items-center">
            <!--Numero de identificacion-->
            <div class="col-auto mr-3 mt-1">
                Identificación:
                <input class="form-control" type="number" formControlName='id'>
                <div class="error" *ngIf="pacienteForm.get('id').errors && this.pacienteForm.get('id').touched">
                    <p>*Ingrese el numero de documento</p>
                </div>
                <div class="alert alert-danger mt-3" role="alert" *ngIf="this.pacAcudiente">
                    El paciente no puede ser el acudiente.
                </div>
            </div>
            <!--tipo de documento-->
            <div class="col-auto mr-3 mt-1">
                Tipo de documento:
                <select class="form-control" formControlName="documentType">
                    <option value="{{tipo.id}}" *ngFor="let tipo of tiposIdentidicacion">{{tipo.nombre}}</option>
                </select>
                <div class="error" *ngIf="pacienteForm.get('documentType').errors && this.pacienteForm.get('documentType').touched">
                    <p>*Seleccione el tipo de documento</p>
                </div>
            </div>
            <!--Fecha de nacimiento-->
            <div class="col-auto mr-3 mt-1">
                Fecha de nacimiento
                <input class="form-control" type="date" formControlName="birthdate">
                <div class="error" *ngIf="pacienteForm.get('birthdate').errors && this.pacienteForm.get('birthdate').touched">
                    <p>*Ingrese una fecha de nacimiento</p>
                </div>
            </div>
        </div>
        <div class="form-row align-items-center mt-1">
            <!--Nombre-->
            <div class="col-auto mr-3 mt-1">
                Nombre:
                <input type="text" class="form-control" formControlName="name">
                <div class="error" *ngIf="pacienteForm.get('name').errors && this.pacienteForm.get('name').touched">
                    <p>*Ingrese el nombre del paciente</p>
                </div>
            </div>
            <!--Dirección-->
            <div class="col-auto mr-3 mt-1">
                Dirección:
                <input type="text" class="form-control" formControlName="homeAddress">
                <div class="error" *ngIf="pacienteForm.get('homeAddress').errors && this.pacienteForm.get('homeAddress').touched">
                    <p>*Ingrese la dirección del paciente</p>
                </div>
            </div>
            <!--Edad del paciente-->
            <div class="col-auto mr-3 mt-1">
                Edad:
                <input class="form-control" type="text" formControlName="age" placeholder="Edad del paciente" readonly>
            </div>
        </div>
        <div class="form-row align-items-center mt-1">
            <!--Telefono-->
            <div class="col-auto mr-3 mt-1">
                Teléfono:
                <input type="number" class="form-control" formControlName="phoneNumber">
                <div class="error" *ngIf="pacienteForm.get('phoneNumber').errors && this.pacienteForm.get('phoneNumber').touched">
                    <p>*Ingrese el número de teléfono del paciente</p>
                </div>
            </div>
            <!--Genero-->
            <div class="col-auto mr-3 mt-1">
                Genero:
                <select class="form-control" formControlName="gender">
                    <option value="masculino">masculino</option>
                    <option value="femenino">femenino</option>
                </select>
                <div class="error" *ngIf="pacienteForm.get('gender').errors && this.pacienteForm.get('gender').touched">
                    <p>*Seleccione el genero del paciente</p>
                </div>
            </div>
            <!--Correo electronico-->
            <div class="col-auto mr-3 mt-1">
                Correo electronico:
                <input class="form-control" type="text" formControlName='email'>
                <div class="error" *ngIf="pacienteForm.get('email').errors && this.pacienteForm.get('email').touched">
                    <p>*Ingrese el email y que sea valido</p>
                </div>
            </div>
        </div>
        <div class="form-row align-items-center mt-1">
            <!--Observación-->
            <div class="col-auto mr-3 mt-1">
                Observación: <br/>
                <textarea class="form-control" cols="30" rows="3" formControlName="observation"></textarea>
                <div class="error" *ngIf="pacienteForm.get('observation').errors && this.pacienteForm.get('observation').touched">
                    <p>*Escriba la observación del paciente</p>
                </div>
            </div>
        </div>
    </form>
</div>