<div class="container">
        <h6>Datos del paciente</h6>
        <form [formGroup]="pacienteForm">
            <div class="form-row align-items-center">
            <!--tipo de documento-->
            <div class="col-auto mr-3 mt-1">
                Tipo de documento:
                <select class="form-control form-control-sm" id="exampleFormControlSelect1" formControlName="documentType">
                    <option value="1">Cedula</option>
                    <option value="2">Tarjeta de indentidad</option>
                    <option value="3">Cedula extranjeria</option>
                </select>
                <div *ngIf="pacienteForm.get('documentType').errors && this.pacienteForm.get('documentType').touched">
                    <p>Seleccione el tipo de documento</p>
                </div>
            </div>
            <!--Numero de identificacion-->
            <div class="col-auto mr-3 mt-1">
                Identificación:
                <input class="form-control" type="number" formControlName='id'>
                <div *ngIf="pacienteForm.get('id').errors && this.pacienteForm.get('id').touched">
                    <p>Ingrese el numero de documento</p>
                </div>
            </div>
            <!--Fecha de nacimiento-->
            <div class="col-auto mr-3 mt-1">
                Fecha de nacimiento
                <input class="form-control" type="date" formControlName="birthdate">
                <div *ngIf="pacienteForm.get('birthdate').errors && this.pacienteForm.get('birthdate').touched">
                    <p>Ingrese una fecha de nacimiento</p>
                </div>
            </div>
        </div>
        <div class="form-row align-items-center mt-1">
            <!--Nombre-->
            <div class="col-auto mr-3 mt-1">
                Nombre:
                <input type="text" class="form-control" formControlName="name">
                
            </div>
            <!--Dirección-->
            <div class="col-auto mr-3 mt-1">
                Dirección:
                <input type="text" class="form-control" formControlName="homeAddress">
            </div>
            <!--Edad del paciente-->
            <div class="col-auto mr-3 mt-1">
                Edad:
                <input class="form-control" type="text" formControlName="age" placeholder="Edad del paciente" readonly>
            </div>
        </div>
        <div class="form-row align-items-center mt-1">
            <!--Telefono-->
            <div class="col-auto mr-3 mt-1">
                Teléfono:
                <input type="text" class="form-control" formControlName="phoneNumber">
            </div>
            <!--Observación-->
            <div class="col-auto mr-3 mt-1">
                Observación: <br/>
                <textarea class="form-control" cols="30" rows="3" formControlName="observation"></textarea>
            </div>
        </div>
    </form>
</div>