<!-- Programacion de un procedimiento -->
<div class="container">
    <!-- datos del paciente -->
    <app-paciente></app-paciente>
    <hr>
    <!-- datos del acudiente si es necesario-->
    <app-acudiente></app-acudiente>
    <hr>
    <!-- datos del procedimiento -->
    <app-procedimiento></app-procedimiento>
    <hr>
    <!-- Fecha hora procedimiento -->
    <app-hora-fecha></app-hora-fecha>
    <hr>
    <br>
    <!-- PROCEDIMIENTO ACCIONES -->
    <button type="button" class="btn btn-danger mr-3">Cancelar agendamiento</button>
    <button type="button" class="btn btn-info" (click)="crearAgendaonClick()">Crear agenda de procedimiento</button>
    <hr>
    <br>
    <!-- documentacion -->
    <app-auxiliar-documentacion></app-auxiliar-documentacion>
    <!-- materiales -->
    <app-auxiliar-materiales></app-auxiliar-materiales>
    <!-- instrumentos y equipos -->
    <app-auxiliar-instrumentos-equipos [codigoProcedimiento]="codigoProcedimiento"></app-auxiliar-instrumentos-equipos>
    <!-- Especialistas -->
    <app-auxiliar-especialista></app-auxiliar-especialista>
</div>