<!-- Programacion de un procedimiento -->
<div class="container">
    <!-- datos del paciente -->
    <app-paciente (messageEvent)="receiveMessage($event)"></app-paciente>
    <hr>
    <!-- datos del acudiente si es necesario-->
    <app-acudiente></app-acudiente>
    <hr>
    <!-- datos del procedimiento -->
    <app-procedimiento></app-procedimiento>
    <hr>
    <button type="button" class="btn btn-info">Crear agenda de procedimiento</button>
    <hr>
    <!-- Fecha hora procedimiento -->
    <!-- documentacion -->
    <!-- materiales -->
    <!-- instrumentos y equipos -->
    <app-auxiliar-instrumentos-equipos></app-auxiliar-instrumentos-equipos>
    <!-- Especialistas -->
    <app-auxiliar-especialista></app-auxiliar-especialista>
    <!-- PROCEDIMIENTO ACCIONES -->
    <button type="button" class="btn btn-danger mr-3">Cancelar agendamiento</button>
    <button type="button" class="btn btn-info">Agendar procedimiento</button>
</div>