<!-- Programacion de un procedimiento -->
<div class="container">
    <!-- datos del paciente -->
    <app-paciente></app-paciente>
    <hr>
    <!-- datos del acudiente si es necesario-->
    <app-acudiente></app-acudiente>
    <hr>
    <!-- datos del procedimiento -->
    <app-procedimiento></app-procedimiento>
    <hr>
    <!-- Fecha hora procedimiento -->
    <app-hora-fecha></app-hora-fecha>
    <hr>
    <br>
    <!-- PROCEDIMIENTO ACCIONES -->
    <button type="button" class="btn btn-danger mr-3" (click)="gestionProcedimientoOnclick()">Cancelar agendamiento</button>
    <button type="button" class="btn btn-info" (click)="crearAgendaonClick()">Crear agenda de procedimiento</button>
    <hr>
    <br>
    <!-- documentacion -->
    <app-auxiliar-documentacion [codigoProcedimientoObtenido]="codigoProcedimiento"></app-auxiliar-documentacion>
    <!-- materiales -->
    <app-auxiliar-materiales [codigoProcedimientoObtenido]="codigoProcedimiento"></app-auxiliar-materiales>
    <!-- instrumentos y equipos -->
    <app-auxiliar-instrumentos-equipos [codigoProcedimientoObtenido]="codigoProcedimiento"></app-auxiliar-instrumentos-equipos>
    <!-- Especialistas -->
    <app-auxiliar-especialista [codigoProcedimientoObtenido]="codigoProcedimiento"></app-auxiliar-especialista>
    <!--logo de home-->
    <a href="/programacion" class="ml-auto"><i class="material-icons" style="font-size: 40px;">home</i></a>
</div>