<div class="container">
    <h5>Fecha y hora del procedimiento</h5>
    <form [formGroup]="horafechaForm">
        <div class="form-row align-items-center">
            <!--Fecha del procedimiento-->
            <div class="col-auto mr-3 mt-1">
                Fecha
                <input class="form-control" type="date" formControlName="date" min="{{this.fechaActual}}">
            </div>
            <!--Hora del procedimiento-->
            <div class="col-auto mr-3 mt-1">
                Hora:
                <input [ngxTimepicker]="picker" class="form-control" type="text" formControlName='hour'>
                <ngx-material-timepicker #picker></ngx-material-timepicker>
            </div>
            <!--Estado Agenda-->
            <div class="col-auto mr-3 mt-3">
                Estado de agendamiento:
                <select class="form-control" formControlName="stateSchedule">
                    <option value="{{estado.idEstado}}" *ngFor="let estado of estadosAgenda">{{estado.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="form-row align-items-center">
            <!--sala-->
            <div class="col-auto mr-3 mt-3">
                Sala:
                <select class="form-control" formControlName="room">
                    <option value="{{sala.idSala}}" *ngFor="let sala of salas">{{sala.nombre}}</option>
                </select>


            </div>

            <!--Estado sala-->
            <div class="col-auto mr-3 mt-3">
                Estado sala:
                <select class="form-control" formControlName="stateSala">
                <option value="{{estado.idEstado}}" *ngFor="let estado of estadosSalas">{{estado.nombre}}</option>
            </select>
            </div>
        </div>
    </form>
</div>