<div class="mat-elevation-z8">
    <h2>Especialidad a editar</h2>

    <br>
    <div *ngIf="mensajeError" class="alert alert-danger animated fadeIn">
        <h3>Error</h3>
        <p>
            {{mensajeError}}
        </p>
    </div>
    <div class="modal-body row">
        <div class="col-md-6 ContenedorTitulo">
            <label>Código: </label>
        </div>
        <div class="col-md-6">
            <label>{{datosEspecialidad.codigoEspecialidad}}</label>
        </div>
    </div>
    <div class="modal-body row">
        <div class="col-md-6 ContenedorTitulo">
            <label>Nombre de especialidad: </label>
        </div>
        <div class="col-md-6">
            <label>{{datosEspecialidad.nombreEspecialidad}}</label>
        </div>
    </div>
    <form [formGroup]="especialistaForm">
        <div class="modal-body row">
            <div class="col-md-6 ContenedorTitulo">
                <label>Registro médico: </label>
            </div>
            <div class="col-md-6">
                <input type="text" placeholder="{{datosEspecialidad.registroMedico}}" formControlName='registro'>
            </div>
        </div>

        <div class=" modal-body row ">
            <div class="col-md-6 ContenedorTitulo ">
                <label>Identificación del especialista: </label>
            </div>
            <div class="col-md-6 ">
                <input type="number " placeholder="{{datosEspecialidad.identificacion}} " formControlName='id'>
            </div>
        </div>
        <div class="modal-body row ">
            <div class="col-md-6 ContenedorTitulo ">
                <label>Nombre del especialista: </label>
            </div>
            <div class="col-md-6 ">
                <input type="text " placeholder="{{datosEspecialidad.nombreEspecialista}} " formControlName='name'>
            </div>
        </div>
    </form>
    <div class=" modal-body row ">
        <div class="col-md-6 ContenedorTitulo ">
            <label>Estado: </label>
        </div>
        <div class="col-md-6 ">
            <select [(ngModel)]="opcionSeleccionado" (change)="capturar() ">
                <option value="{{EstadoDefautl.valor}}" selected>{{EstadoDefautl.contenido}}</option>
                <option value="{{dato.valor}}" *ngFor="let dato of listaEstado ">
                    {{dato.contenido}}
                </option>
                </select>
        </div>
    </div>

    <hr>
    <div style="text-align: center; ">
        <button type="button " class="btn btn-danger mr-3 " (click)="cerrarVentana() " value=" Cerrar esta ventana ">Cancelar edición</button>
        <button type="button " class="btn btn-info " (click)="editar() ">Editar</button>
    </div>
</div>