<div class="mat-elevation-z8">
    <h2>Especialididades</h2>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Tipo de especialidad</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item my-2 my-sm-0">
                    <select [(ngModel)]="opcionSeleccionado" (change)="capturar()">
                        <option value="0" selected>--Seleccione una especialidad--</option>
                        <option *ngFor="let dato of arrayEspecialidadesCantidad">
                            {{dato.nombre}}
                        </option>
                    </select>
                </li>
            </ul>
        </div>
    </nav>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8
        table-bordered table-responsive-sm" #tabla1>

        <!--Columna de código -->
        <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.codigoEspecialidad}} </td>
        </ng-container>

        <!-- Columna de nombre de especialidad -->
        <ng-container matColumnDef="nombreEspecialidad">
            <th mat-header-cell *matHeaderCellDef> Nombre de especialidad </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Columna de cantidad -->
        <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <!--<td mat-cell *matCellDef="let element" contenteditable="true" (keypress)=" keyPress($event)" [(ngModel)]="customertext"> {{element.cantidad}} </td>-->
            <td mat-cell *matCellDef="let element"><input type="text" placeholder="{{element.cantidad}}" style="text-align: center;" (keypress)=" keyPress($event)" [(ngModel)]="element.cantidad"></td>
        </ng-container>

        <!-- Columna de acciones -->
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button type="button" matTooltip="Eliminar" [matTooltipPosition]="'above'" class="btn
                    btn-link
                    btn-sm btn-just-icon" (click)="eliminarDato(element)">
                    <i class="material-icons">delete_forever</i>
                </button>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>
<br>
<button type="button" class="btn btn-outline-success" (click)="confirmacionLimpiar()">Limpiar</button>
<br>
<hr>
<div class="trans">
    <button class="btn btn-outline-success btn-responsive btninter centrado" (click)="cancelar()">Cancelar</button>
    <br>
    <button class="btn btn-outline-success btn-responsive btninter right centrado" (click)="addInstruments()">Añadir especilidad</button>
</div>