<!-- Barra de navegacion de administrador -->
<app-admin-navbar></app-admin-navbar>
<!-- SideBar -->
<ng-sidebar-container>
    <!-- Contenido del Sidebar -->
    <ng-sidebar opened="true" mode="push">
        <div class="container">
            <button type="button" class="btn btn-info mr-auto" (click)="gestionProcedimientoOnclick()">Gestion de procedimientos</button>
            <button type="button" class="btn btn-info mr-auto mt-2" (click)="gestionUsuariosOnclick()">Gestion de usuarios</button>
        </div>
    </ng-sidebar>
    <!-- Contenido de la pagina -->
    <div ng-sidebar-content>
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page" *ngIf="selectedOption == OPTIONS.VER_USUARIO">usuarios</li>
                    <li class="breadcrumb-item active" aria-current="page" *ngIf="selectedOption == OPTIONS.VER_PROCEDIMIENTO">procedimiento</li>
                    <li class="breadcrumb-item active" aria-current="page" *ngIf="selectedOption == OPTIONS.CREAR_PROCEDIMIENTO"><a href="/admin">procedimiento</a></li>
                    <li class="breadcrumb-item active" aria-current="page" *ngIf="selectedOption == OPTIONS.CREAR_PROCEDIMIENTO">crear</li>
                </ol>
            </nav>
            <!-- VER USUARIOS -->
            <!--VER PROCEDIMIENTOS-->
            <app-admin-procedimientos *ngIf="selectedOption == OPTIONS.VER_PROCEDIMIENTO"></app-admin-procedimientos>
            <!--CREAR PROCEDIMIENTOS-->
            <app-modulo-principal-crear-procedimiento *ngIf="selectedOption == OPTIONS.CREAR_PROCEDIMIENTO"></app-modulo-principal-crear-procedimiento>
            <!--VER USUARIOS-->
            <app-admin-usuarios *ngIf="selectedOption == OPTIONS.VER_USUARIO"></app-admin-usuarios>
        </div>
    </div>
</ng-sidebar-container>