<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin">
        <img src="../../../assets/img/informe-medico.png" alt=""> Administración del sistema
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav">
        </ul>
    </div>
    <div class="collapse navbar-collapse" style="text-align: center; float: right;" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{nombreUsuario}}
                </a>
                <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="navbarDropdown">
                    <button class="dropdown-item" (click)="cerrarSesion()">Cerrar sesion</button>
                </div>
            </li>
        </ul>
    </div>
</nav>