<!-- Barra de navegacion de programacion -->
<app-auxiliar-navbar></app-auxiliar-navbar>
<!-- SideBar -->
<ng-sidebar-container>
    <!-- Contenido del Sidebar -->
    <ng-sidebar [(opened)]="_opened" mode="push" [(closeOnClickOutside)]="_desaparecer">
        <button type="button" class="btn btn-info mr-auto" (click)="gestionOnclick()">Gestion de programación</button>
    </ng-sidebar>

    <!-- Contenido de la pagina -->
    <div ng-sidebar-content>
        <button *ngIf="!_opened" style="background-color: transparent; 
        border: 0px solid;" (click)="_toggleSidebar()" matTooltip="Menú" [matTooltipPosition]="'above'"><i class="material-icons" style="font-size: 20px;">more_vert</i></button>
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/programacion">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page" *ngIf="selectedOption == OPTIONS.VER_AGENDA">agenda</li>
                    <li class="breadcrumb-item active" aria-current="page" *ngIf="selectedOption == OPTIONS.CREAR_AGENDA">crear agenda</li>
                    <li class="breadcrumb-item active" aria-current="page" *ngIf="selectedOption == OPTIONS.EDITAR_AGENDA">editar agenda</li>
                </ol>
            </nav>
            <!-- VER AGENDA -->
            <app-auxiliar-agenda *ngIf="selectedOption == OPTIONS.VER_AGENDA"></app-auxiliar-agenda>
            <!-- CREAR AGENDA -->
            <app-auxiliar-crear-programacion *ngIf="selectedOption == OPTIONS.CREAR_AGENDA"></app-auxiliar-crear-programacion>
            <!-- EDITAR AGENDA -->
            <app-auxiliar-editar-programacion *ngIf="selectedOption == OPTIONS.EDITAR_AGENDA"></app-auxiliar-editar-programacion>
        </div>
    </div>

</ng-sidebar-container>