<app-auxiliar-navbar></app-auxiliar-navbar>
<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container>
 
    <!-- A sidebar -->
    <ng-sidebar opened="true" mode="push">
      <button type="button" class="btn btn-info mr-auto" (click)="mostrarAgenda()">Gestion de programación</button>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content>
        <div class="container">
            <!-- Agenda del auxiliar-->
            <div id="agenda">
              <app-auxiliar-agenda></app-auxiliar-agenda>
            </div>
            <div id="programacion">
              <app-auxiliar-programacion></app-auxiliar-programacion>
            </div>
            <div class="container mt-3 ml-auto">
              <button type="button" class="btn btn-info ml-auto" id="nuevoPro" (click)="nuevoProcedimiento()">Agendar procedimiento</button>
          </div>
        </div>
    </div>

  </ng-sidebar-container>
