<div class="container mt-2">
    <!--Boton de agregar nuevo procedimiento-->
    <div class="ml-auto float-right">
        <button mat-mini-fab color="info" type="button" class="btn btn-info ml-2"
            (click)="agregarProcedimientoOnclick()" matTooltip="Agregar procedimiento" [matTooltipPosition]="'above'">
            <i class="material-icons">add</i>
        </button>
    </div>
    <!--Tabla de agenda-->
    <div class="mt-3">
        <div class="mat-elevation-z8">

        </div>
    </div>
</div>