<div class="container mt-2">
    <form class="form-inline" [formGroup]="busquedaForm">
        <!--Boton de agregar nuevo procedimiento-->
        <div class="ml-auto float-right">
            <button mat-mini-fab color="info" type="button" class="btn btn-info ml-2" (click)="agregarProcedimientoOnclick()" matTooltip="Agregar procedimiento" [matTooltipPosition]="'above'">
            <i class="material-icons">add</i>
          </button>
        </div>
    </form>
    <br>
    <!--Tabla de agenda-->
    <div class="mt-3">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8
            table-bordered table-responsive-sm">
                <!-- Columna de codigo de procedimiento -->
                <ng-container matColumnDef="Codigo">
                    <th mat-header-cell *matHeaderCellDef> Código procedimiento </th>
                    <td mat-cell *matCellDef="let element">{{element.codigoProcedimiento}} </td>
                </ng-container>
                <!-- Columna de nombre del procedimiento -->
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}}</td>
                </ng-container>
                <!-- Columna de tipo de procedimiento -->
                <ng-container matColumnDef="TipoProcedimiento">
                    <th mat-header-cell *matHeaderCellDef> Tipo de procedimiento </th>
                    <td mat-cell *matCellDef="let element">{{element.tipo}} </td>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button type="button" matTooltip="Eliminar" [matTooltipPosition]="'above'" class="btn
                        btn-danger
                        btn-sm btn-just-icon" (click)="eliminarDato(element)">
                        <i class="material-icons">delete_forever</i>
                </button></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator class="table-responsive-sm" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>