<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/programacion">
        <img src="../../../assets/img/informe-medico.png" alt=""> Gestion de procedimientos
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="clickNotificacion()">
                    <i class="material-icons">notifications</i>
                    <span class="notification">{{numeroNotificaciones}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-left" id="menu-notificaciones" aria-labelledby="navbarDropdownMenuLink">
                    <app-notificaciones></app-notificaciones>
                </div>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: center; float: right;">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{nombreUsuario}}
                </a>
                <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/auxiliar/configuracion">Configuración</a>
                    <button class="dropdown-item" (click)="cerrarSesion()">Cerrar sesion</button>
                </div>
        </ul>
    </div>
</nav>