<!-- Barra de navegacion de programacion -->
<app-auxiliar-navbar></app-auxiliar-navbar>
<!-- SideBar -->
<ng-sidebar-container>
    <!-- Contenido del Sidebar -->
    <ng-sidebar [(opened)]="_opened" mode="push" [(closeOnClickOutside)]="_desaparecer">
        <button type="button" class="btn btn-info mr-auto" (click)="gestionOnclick()">Gestion de programación</button>
    </ng-sidebar>

    <!-- Contenido de la pagina -->
    <div ng-sidebar-content>
        <div class="container mt-3">
            <div class="container text-center" *ngIf="usuario!=null">
                <h1>Bienvenido {{usuario.first_name}} {{usuario.last_name}}</h1>
                <p>Gestiona los datos de tu cuenta y cambia tu contraseña</p>
            </div>
            <div class="container border border-info rounded mt-3" *ngIf="usuario!=null">
                <div class="mt-3 mb-2">
                    <p class="h5 mt-2">Estos son tus datos de usuario</p>
                    <p>Aquí puedes ver o editar tu información de usuario {{usuario.first_name}}.</p>
                    <form [formGroup]="usuarioForm">
                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Id de usuario:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-sm" disabled value="{{usuario.id}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Nombre:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-sm" formControlName='firstName'>
                                <div class="errors" *ngIf="this.usuarioForm.get('firstName').touched">
                                    <p *ngIf="usuarioForm.get('firstName').errors">*campo obligatorio</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Apellido:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-sm" formControlName='lastName'>
                                <div class="errors" *ngIf="this.usuarioForm.get('lastName').touched">
                                    <p *ngIf="usuarioForm.get('lastName').errors">*campo obligatorio</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Nombre de usuario:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-sm" disabled value="{{usuario.username}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Correo:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-sm" formControlName='email'>
                                <div class="errors" *ngIf="this.usuarioForm.get('email').touched">
                                    <p *ngIf="usuarioForm.get('email').errors.required">*campo obligatorio</p>
                                    <p *ngIf="usuarioForm.get('email').errors.email">*debe ser un correo electronico</p>
                                </div>
                            </div>
                        </div>
                    </form>
                    <button type="button" class="btn btn-info btn-sm ml-2" (click)="editarUsuario()">Guardar Cambios</button>
                </div>
            </div>
            <div class="container border border-info rounded mt-3" *ngIf="usuario!=null">
                <div class="mt-3 mb-2">
                    <p class="h5 mt-2">Opciones de seguridad</p>
                    <p>{{usuario.first_name}} Aquí puedes cambiar tu contraseña.</p>
                    <!-- Button modal Cambio de contraseña-->
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#ModalPasword">
                        Cambiar contraseña
                    </button>
                </div>
            </div>
        </div>
    </div>

</ng-sidebar-container>

<!-- Modal -->
<div class="modal fade" id="ModalPasword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel">Cambio de contraseña</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <form [formGroup]="contraForm">
                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label">contraseña actual</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control form-control-sm" formControlName='oldPassword'>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label">contraseña nueva</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control form-control-sm" formControlName='newPassword'>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" (click)="editarContra()">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>