<div class="mat-elevation-z8">
    <h2>{{tituloTabla}}</h2>
    <table mat-table [dataSource]="dataDocumentosRequeridos" class="mat-elevation-z8
        table-bordered table-responsive-sm">

        <!-- código Column -->
        <ng-container matColumnDef="codigoDocumento">
            <th mat-header-cell *matHeaderCellDef> Codigo </th>
            <td mat-cell *matCellDef="let element"> {{element.codigoDocumento}} </td>
        </ng-container>

        <!-- nombre Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- estado Column -->
        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>

        <!-- estado Column -->
        <ng-container matColumnDef="caduca">
            <th mat-header-cell *matHeaderCellDef> Caduca </th>
            <td mat-cell *matCellDef="let element"> {{element.caduca}} </td>
        </ng-container>

        <!-- estado Column -->
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>

        <!-- estado Column -->
        <ng-container matColumnDef="archivo">
            <th mat-header-cell *matHeaderCellDef> Archivo </th>
            <td mat-cell *matCellDef="let element"> {{element.archivo}} </td>
        </ng-container>

        <!-- archivo Column -->
        <ng-container matColumnDef="observacion">
            <th mat-header-cell *matHeaderCellDef> Observaciones </th>
            <td mat-cell *matCellDef="let element"> {{element.observacion}} </td>
        </ng-container>



        <!-- archivo Column -->
        <ng-container matColumnDef="fechaVencimiento">
            <th mat-header-cell *matHeaderCellDef> Fecha caducidad </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaVencimiento}} </td>
        </ng-container>

        <!-- acciones Column -->
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button type="button" matTooltip="Editar" [matTooltipPosition]="'above'" class="btn
                        btn-link
                        btn-sm btn-just-icon">
                        <i class="material-icons">edit</i>
                    </button>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsDoc"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsDoc"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


</div>
<button type="button" class="btn btn-info" (click)="openAgregarDocu()">Añadir documento</button>
<button type="button" class="btn btn-info" (click)="generarRecibido()">Generar Recibido</button>

<br>
<hr>