<div class="tabla-documentos">
    <h2>Documentación</h2>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataDocumentosRequeridos" class="mat-elevation-z8
        table-bordered table-responsive-sm">

            <!-- código Column -->
            <ng-container matColumnDef="cod">
                <th mat-header-cell *matHeaderCellDef> Codigo </th>
                <td mat-cell *matCellDef="let element"> {{element.cod}} </td>
            </ng-container>

            <!-- nombre Column -->
            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
            </ng-container>

            <!-- estado Column -->
            <ng-container matColumnDef="desc">
                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
            </ng-container>

            <!-- estado Column -->
            <ng-container matColumnDef="caduc">
                <th mat-header-cell *matHeaderCellDef> Caduca </th>
                <td mat-cell *matCellDef="let element"> {{element.caduc}} </td>
            </ng-container>

            <!-- estado Column -->
            <ng-container matColumnDef="est">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"> {{element.est}} </td>
            </ng-container>

            <!-- estado Column -->
            <ng-container matColumnDef="path">
                <th mat-header-cell *matHeaderCellDef> Archivo </th>
                <td mat-cell *matCellDef="let element"> {{element.path}} </td>
            </ng-container>


            <!-- archivo Column -->
            <ng-container matColumnDef="observ">
                <th mat-header-cell *matHeaderCellDef> Observaciones </th>
                <td mat-cell *matCellDef="let element"> {{element.observ}} </td>
            </ng-container>

            <!-- acciones Column -->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button type="button" matTooltip="Editar" [matTooltipPosition]="'above'" class="btn
                        btn-link
                        btn-sm btn-just-icon">
                        <i class="material-icons">edit</i>
                    </button>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsDoc"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsDoc"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


    </div>
    <button type="button" class="btn btn-info" (click)="openAgregarDocu()">Añadir documento</button>
    <button type="button" class="btn btn-info" (click)="generarRecibido()">Generar Recibido</button>

    <br>
    <hr>
</div>