<div class="container">
    <h1>Crear usuario</h1>
    <h2>Datos del usuario</h2>
    <hr>
    <div class="mat-dialog-content">
        <form [formGroup]="usuarioForm">
            <!--Nombre del usuario-->
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nombre:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="nombre" formControlName="firstNameUser">
                    <div class="errors" *ngIf="this.usuarioForm.get('firstNameUser').touched">
                        <p *ngIf="usuarioForm.get('firstNameUser').errors">*Ingrese el nombre completo del usuario</p>
                    </div>
                </div>
            </div>            
            <!--Apellido del usuario-->
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Apellido:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="apellido" formControlName="lastNameUser">
                    <div class="errors" *ngIf="this.usuarioForm.get('lastNameUser').touched">
                        <p *ngIf="usuarioForm.get('lastNameUser').errors">*Ingrese el apellido del usuario</p>
                    </div>
                </div>
            </div>
            <!--nombre de usuario del usuario-->
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nombre de usuario:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="nombre de usuario" formControlName="userName">
                    <div class="errors" *ngIf="this.usuarioForm.get('userName').touched">
                        <div class="alert alert-danger mt-1" role="alert" *ngIf="existeNom && !nomVacio">
                            Ya existe un usuario con ese nombre de usuario
                        </div>
                        <div class="alert alert-success mt-1" role="alert" *ngIf="!existeNom && !nomVacio">
                            Nombre de usuario disponible
                        </div>
                        <p *ngIf="usuarioForm.get('userName').errors">*Ingrese el nombre de usuario</p>
                    </div>
                </div>
            </div>
            <!--contraseña de usuario del usuario-->
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Contraseña:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" placeholder="contraseña" formControlName="password">
                    <div class="errors" *ngIf="this.usuarioForm.get('password').touched">
                        <p *ngIf="usuarioForm.get('password').errors">*Ingrese una contraseña</p>
                    </div>
                </div>
            </div>
            <!--confirmar contraseña de usuario del usuario-->
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Confirmar contraseña:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" placeholder="contraseña" formControlName="valPassword"> 
                    <div class="errors" *ngIf="this.usuarioForm.get('valPassword').touched">
                        <p *ngIf="usuarioForm.get('valPassword').errors">*Campo obligatorio</p>
                        <div class="alert alert-danger mt-1" role="alert" *ngIf="!contraCoincide">
                            Las contraseñas no coinciden
                        </div>
                        <div class="alert alert-success mt-1" role="alert" *ngIf="contraCoincide">
                            Las contraseñas coinciden
                        </div>
                    </div>
                </div>
            </div>
            <!--email del usuario-->
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Email:</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" placeholder="email" formControlName="email">
                    <div class="errors" *ngIf="this.usuarioForm.get('email').touched">
                        <p *ngIf="usuarioForm.get('email').errors">*Ingrese el correo del usuario</p>
                    </div>
                </div>
            </div>
            <!--Rol del usuario-->
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Tipo de usuario:</label>
                <div class="col-sm-6">
                    <select class="form-control" formControlName="typeUser">
                        <option value="" disabled>Seleccione el tipo</option>
                        <hr>
                        <option value="{{grupo.idGrupo}}" *ngFor="let grupo of grupos">{{grupo.nombreGrupo}}</option>
                        <div class="errors" *ngIf="this.usuarioForm.get('typeUser').touched">
                            <p *ngIf="usuarioForm.get('typeUser').errors">*Ingrese el tipo de usuario</p>
                        </div>
                    </select>
                </div>
            </div>
        </form>
        <hr>
        <div class="mx-auto" style="width: 400px;">
            <button type="button" class="btn btn-danger" (click)="cerrarVentana()">Cancelar</button>
            <button type="button" class="btn btn-info ml-2" (click)="crearUsuario()" [disabled]="deshabilitarBoton">Crear Usuario</button>
        </div>
    </div>
    
</div>