table {
    width: 100%;
}

table th {
    text-align: center;
    width: 100%;
}

table tr {
    text-align: center;
    width: 100%;
}

input {
    text-align: center;
    background-color: transparent;
    border: 0px solid
}